.circle {
  align-items: center;
  background-color: red;
  border: 2px solid white;
  color: white;
  border-radius: 50%;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100px;
}
